<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="/css/navbar.css">

<div class="main-header">
    <div class="top-navbar">
        <div class="logo-container">
            <img src="/resources/LOGO_BANCOSOL.png" alt="Logo Bancosol" class="logo-img">
        </div>
    </div>
    <nav class="bottom-navbar">
        <ul class="nav-menu">
            <li class="nav-item"><a href="/html/campanyas.html" class="nav-link"><i class="ri-megaphone-line"></i><span>Gestión de Campañas</span></a></li>
            <li class="nav-item"><a href="/html/tiendas.html" class="nav-link"><i class="ri-store-2-line"></i><span>Tiendas</span></a></li>
            <li class="nav-item"><a href="/html/colaboradores.html" class="nav-link"><i class="ri-user-heart-line"></i><span>Colaboradores</span></a></li>
            <li class="nav-item"><a href="/html/coordinadores.html" class="nav-link"><i class="ri-team-line"></i><span>Coordinadores</span></a></li>
            <li class="nav-item"><a href="/html/asignacion_turno.html" class="nav-link"><i class="ri-clipboard-line"></i><span>Asignación de turno</span></a></li>
        </ul>
    </nav>
</div>